* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

